#PREAMBLE
#notes
snippet notes "create new notes"
\documentclass[OPTIONS]{Notes}

\title{${1:TITLE}}
\subject{${2:SUBJECT}}
\author{${Yanzhi Liu}}
\date{${5:DD}}{${6:MM}}{${7:YYYY}}

\begin{document}
${8}
\end{document}
endsnippet
 
